<section class="left-side">
    <img class="left-side__cv-photo" src="./images/photo.jpg" alt="Photo of Vasyl Dolishnii">
    <div class="left-side__contact-block">
        <h2>Contacts</h2>
        <p class="left-side__contact-lincs">
            C: <a class="left-side__contact-lincs" href="tel:+48 576-322-111">576-322-111</a></br>
            E: <a class="left-side__contact-lincs" href="mailto:dolishniivasyl@gmail.com">dolishniivasyl@gmail.com</a></br>
        </p>
    </div>
    <div class="left-side__skills-block">
        <h2>Skills</h2>
        <ul class="left-side__list-gold">
            <li><span class="left-side__list-white">HTML</span></li>
            <li><span class="left-side__list-white">CSS3</span></li>
            <li><span class="left-side__list-white">GIT</span></li>
            <li><span class="left-side__list-white">JavaScript</span></li>
            <li><span class="left-side__list-white">React.js</span></li>
            <li><span class="left-side__list-white">Node.js</span></li>
        </ul>
    </div>
    <div class="left-side__language-block">
        <h2>Soft Skills</h2>
        <ul class="left-side__list-gold">
            <li><span class="left-side__list-white">Scrum</span></li>
            <li><span class="left-side__list-white">Agile</span></li>
            <li><span class="left-side__list-white">GTD</span></li>
            <li><span class="left-side__list-white">Teamwork</span></li>
        </ul>
    </div>
</section>
