<section class="left-side">
  <img class="left-side__cv-photo" src="./images/photo.jpg" alt="Photo of Vasyl Dolishnii" />
  <div class="left-side__contents-block">
    <div>
      <h2>Contacts</h2>
      <p class="">
        C: <a class="left-side__contact-lincs" href="tel:+48 576-322-111">576-322-111</a> E:
        <a class="left-side__contact-lincs" href="mailto:dolishniivasyl@gmail.com"
          >dolishniivasyl@gmail.com</a
        >
      </p>
    </div>
    <div>
      <h2>Skills</h2>
      <ul class="left-side__list-gold">
        <li><span class="left-side__list-white">HTML</span></li>
        <li><span class="left-side__list-white">CSS3</span></li>
        <li><span class="left-side__list-white">GIT</span></li>
        <li><span class="left-side__list-white">JavaScript</span></li>
        <li><span class="left-side__list-white">React.js</span></li>
        <li><span class="left-side__list-white">Node.js</span></li>
      </ul>
    </div>
    <div>
      <h2>LANGUAGES</h2>
      <ul class="left-side__list-gold">
        <li><span class="left-side__list-white">Polish - C1</span></li>
        <li><span class="left-side__list-white">English - B1</span></li>
        <li><span class="left-side__list-white">Ukrainian - native speaker</span></li>
        <li><span class="left-side__list-white">Russian - C1 (try to forget)</span></li>
      </ul>
    </div>
  </div>
</section>
