<section class="right-side">
  <div class="main-description">
    <h2 class="job-title">Front-End Developer</h2>

    <h1>Vasyl Dolishnii</h1>

    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.
    </p>
  </div>
  <div class="projects">
    <h2>Projects</h2>
    <ol class="list-primary">
      <li>
        <a class="list-primary-item" href="https://vasyldolishnii.github.io/goit-markup-hw-08/"
          ><span class="list-primary-item">GitHub: Vasyl Dolishnii......</span></a
        >[<span class="list-primary-item">HTML/CSS</span>]
      </li>
      <li>
        <a class="list-primary-item" href="https://github.com/VasylDolishnii"
          ><span class="list-primary-item">GitHub: Vasyl Dolishnii......</span></a
        >[<span class="list-primary-item">Będzie JS</span>]
      </li>
      <li>
        <a class="list-primary-item" href="https://github.com/VasylDolishnii"
          ><span class="list-primary-item">GitHub: Vasyl Dolishnii......</span></a
        >[<span class="list-primary-item">Będzie REACT</span>]
      </li>
    </ol>
  </div>
  <div>
    <h2>Work Expiriens</h2>
    <h3>Front-End Developer <span class="highlight">Freelance </span></h3>
    <p>September 2019 - up to now | Country</p>
    <ul class="job-list">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br />
        &nbsp &nbsp &nbsp tempor incididunt ut labore et dolore magna aliqua.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit./li></li>
      <li>Risus commodo viverra maecenas.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
    </ul>

    <h3>Manager<span class="highlight"> Glory New</span></h3>
    <p>March 2015 - October 2018 | Country</p>
    <ul class="job-list">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore et dolore
        magna aliqua.
      </li>
      <li>Quis ipsum suspendisse ultrices gravida.</li>
      <li>Risus commodo viverra maecenas.</li>
    </ul>

    <h3>Manager <span class="highlight">Glory LLC</span></h3>
    <p cla>June 2014 - February 2015 | Country</p>
    <ul class="job-list">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Quis ipsum suspendisse ultrices gravida.</li>
      <li>Risus commodo viverra maecenas.</li>
    </ul>
    <h2>Education</h2>
    <h3 class="highlight">National University</h3>
    <b class="manage">Management</b>
    <p>September 2009 - June 2014 | Country</p>
  </div>
</section>
